#container{
  width: 100%;
  margin: auto;
  
}

@media screen and (max-width: 768px){
  #container{
    width: 100%;
    font-size: 70%;
    color: red;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;


  }
}

body {
    font-family: Helvetica;
    color: rgb(1, 26, 54);
    background-image: url(https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-2381.jpg?w=1800&t=st=1690066399~exp=1690066999~hmac=a6b995abb1f4d62fbf152fed0069a56ff10c38281f6020aa1c5c5160bc17c761);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}

h1 {
    text-transform: uppercase;
    font-weight: 500;
}

.tagline {
        margin-top: 0px;
        padding-top: 60px;
        display: flex;
        justify-content: flex-start;
        font-weight: 500;
        font-size: 40px;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 1px;
    margin-block: 0;
    height: 100%;
  }

  nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.rem;
    padding: 0.2rem;
    display: block;
    color: #1b1b32;
    font-size: min(5vw, 1.2em);
  }

  nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
  }

  li > a {
    text-decoration: none;
    color: rgb(1, 26, 54);;
  }

  .google {
    display: flex;
  }

 #sign {
  border: solid rgb(1, 26, 54);
  margin: 0 auto 10px auto;
  padding: 10px 0 0 5px;
  max-width: 600px;
  background-image: url(https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-2381.jpg?w=1800&t=st=1690066399~exp=1690066999~hmac=a6b995abb1f4d62fbf152fed0069a56ff10c38281f6020aa1c5c5160bc17c761);
 }


 .forgotten-password a {
  text-decoration: none;
}

.email, .password {
  width: 50%;
  text-align: start;
  margin: 10px auto 10px auto;
}

#password, #email {
  display: flex;
  width: 250px;
}


.sign-in-button 

button {
  display: block;
  margin: 1px auto;
  width: 20%;
  padding: 1px;
  font-size: 20px;
  background: linear-gradient(#FF7377, #66FFE5);
  border: 2px solid #3b3b4f;
}